.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  margin: 10px 0px;
  font-size: 16px;
  background-color: #00242B;
  color: inherit;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #7DE38D;
    color: black;
    border: 1px solid black;
  }

  &.alternate {
    background-color: black;
    color: #7DE38D;
    border: none;
    
    &:hover {
      background-color: #7DE38D;
      color: #00242B;
      border: 1px solid black;
    }
  }
}