.floating-button {
    background-color: #07b4ee;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 20px 10px 0 10px;
    border-color: transparent;
    box-shadow: 2px 2px 5px rgba(235, 235, 235, 0.1);

    &.alt {
        background-color: #123753;
        color: #d9dfe9;
    }
    
    &:hover {
        opacity: 0.8;
    }
}
